@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* ----------------BASE CSS------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand',sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #a5a5a5;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #736f6f;
}
*::-webkit-resizer{
    width: 4px;
}

/* ---------------------------------------- */


.promo-bar {
    background: #4267b2;
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    z-index: 170;
}

.promo-bar a {
    font-size: 10px;
    font-weight: 400;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
}

.header{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.header_container{
    z-index: 1;
    background-color: #fff;
}

.header.scrolled .header_content {
    height: 70px;
}

.header.scrolled{
    top: 0;
}

.header_content {
    width: 100%;
    height: 130px;
    transition: all 200ms;
}

.header.scrolled .header_content .logo img{
    width: 60px;
    height: 60px;
    transition: all 300ms;
}

.logo img{
    width: 70px;
    height: 70px;
}

.main_nav{
    margin-left: 130px;
}

.main_nav ul li{
    display: inline-block;
    position: relative;
    padding: 0 24px;
}

.main_nav ul li a {
    font-size: 16px;
    font-weight: 600xp;
    color: #767676;
    transition: all 200ms;
}

.main_nav-item ul {
    position: absolute;
    left: 22px;
    text-align: left;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
    top: 47px;
    width: max-content;
}

.main_nav-item ul li{
    padding: 11px 0;
    display: block;
}

.main_nav-item ul li a{
    font-size: 14px;
    flex: 1;
    font-weight: 400;
    padding: 10px;
}

.main_nav-item ul li:not(:last-child) {
    border-bottom: 0.1px solid #7777;
}

.main_nav-item:hover ul {
    visibility: visible;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    opacity: 1;
    top: 27px;
}

.main_nav-item a i{
    transition: all 500ms ease-in-out;
    font-size: 14px;
}

.main_nav-item:hover a i{
    transform: rotate(180deg);
}

.main_nav ul li a:hover{
    color: #1b1b1b;
}

.header_extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .icon_user a{

} */

.shopping_cart a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.shopping_cart i{
    color: #767676;
    font-size: 21px;
    transition: all 0.5s;
}

.shopping_cart div{
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;
    color: #1b1b1b;
}

a:hover{
    text-decoration: none;
}

.shopping_cart a:hover i, 
.shopping_cart a:hover div, 
.search_icon:hover, 
.icon_user a:hover i{
    color: #e95a5a;
}

.search {
    margin-left: 20px;
    cursor: pointer;
    color: #1b1b1b;
}

.icon_user{
    margin-left: 20px;
    cursor: pointer;
}

.icon_user a i{
    transition: all 0.5s;
    color: #767676;
    font-size: 18px;
}

.search_icon{
    transition: all 0.5s;
}

.search_input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 20px;
}

.search_panel_content {
    height: 80px;
}

.search_panel {
    position: relative;
    left: 0;
    bottom: 50px;
    width: 100%;
    background: #e4e4e4;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.search_panel.active{
    bottom: 0px;
    opacity: 1;
    visibility: visible;
}

.menu_nav{
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.close_menu{
    position: absolute;
    z-index: 999;
    top: 0;
    padding: 20px 42px;
    right: -400px;
    transition: all 400ms;
}


@media (max-width: 1190px) {
    .container{
        max-width: 100%;
    }

    .logo img{
        width: 60px;
        height: 60px;
    }
    
    .main_nav{
        margin-left: 0;
    }
}

@media (max-width: 855px) {
    .container{
        max-width: 100%;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
    .main_nav ul{
        right: -400px;
        position: absolute;
        top: 0px;
        background-color: #e4e4e4;
        height: 100vh;
        width: 400px;
        padding: 40px;
        text-align: right;
        z-index: 199;
        transition: 400ms;
        padding-top: 70px;
    }
    .main_nav ul li{        
        cursor: pointer;
        display: block;
        padding: 25px;
        border-bottom: 1px solid #767676;
    }

    .main_nav-item ul {
        position: relative;
        text-align: right;
        visibility: visible;
        opacity: 1;
        transition: all 500ms;
        width: 400px;
        top: 3px !important;
        height: 0;
        overflow: hidden;
        box-shadow: none !important;
        padding: 0px 50px;
    }
    .main_nav-item ul li{
        position: relative;
        left: -77px;
    }
    .main_nav-item ul li:last-child{
        border: none;
    }

    .close_menu i{
        font-size: 21px;
    }
    
    .main_nav-item ul li a{ 
        color: #1b1b1b !important;
        font-size: 14px;
        font-weight: 800;
    }

    .main_nav ul li a:hover{
        color: #767676 !important;
    }

    .main_nav ul li a{
        color: #1b1b1b;
    }

    .menu_nav{
        display: block;
    }
    
}

@media (max-width: 575px) {
    .header_content{
        height: 70px;
    }
    .container{
        max-width: 100%;
    }
    .banner{
        padding-top: 70px !important;
    }
    
}
body {
    padding: 0px;
    margin: 0px;
}
#lh {
    color: red;
}

.contact>li {
    margin-top: 30px;
}

.ct-l,
.ct-r {
    margin-top: 50px;
    margin-bottom: 50px;
}

button#gui {
    color: white;
    background-color: #c30005;
    width: 46%;
    margin-left: 149px;
}

/*----footer----*/
.list-gallery ul li {
    float: left;
    width: calc(100%/6);
    padding: 2px;
}

.list-gallery ul {
    margin: 0;
    float: left;
}

.list-gallery ul li .list-gallery_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.footer .footer-col {
    margin-bottom: 24px;
}

.footer h4 {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 22px;
    text-transform: uppercase;
}

.logo-footer {
    margin-bottom: 20px;
}

.social-list {
    margin: 15px 0;
}

.social-list a{
    margin-right: 15px;
    border: 1px solid #1b1b1b;
    color: #000;
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 700ms;
    text-align: center;
}

.social-list a:hover{
    color: white;
    background: #1b1b1b;
}

.footer .footer-content p{
    line-height: 21px;
}

.footer .footer-content ul {
    margin-bottom: 15px;
}

.footer .footer-content ul li {
    display: block;
    line-height: 28px;
    position: relative;
}

.footer .footer-content ul li a{
    color: #000;
}

.footer .footer-content.toggle-footer ul li span {
    font-weight: 500;
}

.under-footer {
    padding-top: 5px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 5px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sticky {
    z-index: 1000 !important;
}